body {
    box-sizing: "border-box";
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(331deg,#43e695,#3bb2b8);
}